.w3-table td,
.w3-table th,
.w3-table-all td,
.w3-table-all th {
    padding: 8px 8px;
    display: table-cell;
    text-align: center !important;
    vertical-align: top;
}

input[type="file"] {

    display: none;
}

#uploadImage {
    display: inline-block;
}

#uploadImage2 {
    display: inline-block;
}